.serviceRequest {
}

.serviceRequest {
  width: 460px;
  /*height: 621px;*/
  background-color: var(--bg);
  padding: 64px 60px;
  /*background-image: url("img/consultation-bg.png");*/
  /*background-position: left 46px;*/
  /*background-repeat: no-repeat;*/
  position: relative;
}

.serviceRequest__row {
  padding-left: 0;
  padding-right: 0;
}

.serviceRequest__wrapper {
  width: 100%;
}

.serviceRequest__heading {
  margin-bottom: 45px;
}

.serviceRequest__title {
  text-align: center;
}

.serviceRequest__closeBtn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -40px;
  top: -44px;
  cursor: pointer;
}

.serviceRequest__closeBtnIcon {
  width: 20px;
  height: 20px;
  fill: var(--sandal);
  transition: transform 300ms ease, scale 300ms ease;
}

.serviceRequest__closeBtn:hover .serviceRequest__closeBtnIcon {
  transform: rotate(180deg) scale(1.4);
}

@media screen and (max-width: 1021px) {
  .serviceRequest__heading {
    margin-bottom: 35px;
  }

  .serviceRequest__closeBtnIcon {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 600px) {
  .serviceRequest {
    width: 440px;
    padding: 55px 50px;
  }

  .serviceRequest__heading {
    margin-bottom: 25px;
  }

  .serviceRequest__title {
    text-align: start;
  }

  .serviceRequest__closeBtn {
    right: -30px;
    top: -30px;
  }
}

@media screen and (max-width: 450px) {
  .serviceRequest {
    width: 100%;
    height: 100%;
    padding: 60px 30px 55px;
  }

  .serviceRequest__closeBtn {
    right: -30px;
    top: -40px;
  }
}
