:root {
  --white: #ffffff; /* white */
  --white-dark: #eeeeee; /* for text  */
  --sandal: #ac8b65; /* Sandal */
  --gray: #3d3d3d; /* eclipse */
  --irish-coffee: #5e422f; /* Irish Coffee */
  --bg: #1b1c1b; /* Background */
  --line: #ffffff72;
}
